@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body{
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: hsl(0, 0%, 10%);
  background-color: white;
}

/** HEADER **/

.header__wrapper{
  padding: 3rem 0;
  transition: all 0.3s;
  min-height: 20rem;
  margin-top: 20vh;
}

.header__wrapper-searched{
  padding: 1.6rem 0;
  min-height: 5rem;
  margin: 0;
}

/** Title **/

.title {
  min-height: inherit;
  position: relative;
}

.title__text {
  font-size: 10rem;
  font-weight: 100;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
}

.title__text-small{
  left: 0;
  transform: translateX(0);
  padding-left: 5rem;
  font-size: 1.6rem;
}

.title__subtitle {
  font-size: 5rem;
  font-weight: 100;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  color:#586e75;
  text-align: center;
}

.title__subtitle-hide{
  display: none;
}

/** Search **/

.searchbar__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  flex-direction: column;
}

.searchbar__input{
  border: none;
  border-bottom: 1px solid hsl(0, 0%, 25%);
  background-color: transparent;
  color: hsl(0, 0%, 25%);
  text-align: center;
  font-size: 3rem;
  padding: 0.75rem 0;
  transition: all 0.5s;
}

.searchbar__input:focus{
  box-shadow: 0px 15px 10px -15px #683ab78f;
}



.searchbar__button{
  margin-top: 3rem;
  border: none;
  color: white;
  font-size: 2.25rem;
  padding: 1.25rem 0rem;
  width: 30rem;
  background-image: linear-gradient(90deg, #9c27b0, #673ab7);
  border-radius: 10rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-family: 'Roboto';
  transition: all 0.3s;
  cursor: pointer;
}

.searchbar__button:hover{
  box-shadow: 0px 2px 3px 0.25px #331e58;
  transform: translateY(-0.3rem);
}

.searchbar__button:active{
  box-shadow: none;
  transform: translateY(0rem);
}

/** ALBUMS **/

.albums {
  display: flex;
  justify-content: center;
  align-items: center;
}

.albums__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90rem;
}

/** Album **/

.album__wrapper {
  margin: 2rem 1rem;
  width: 10rem;
  font-weight: 300;
}

.album {
  opacity: 0;
  display: flex;
  flex-direction: column;
  animation-name: fadeToAlbum;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeToAlbum {
  0% { opacity: 0 }
  100% {opacity: 1 }
}

.album__cover {
  width: 10rem;
  height: 10rem;
}

.album__data {
  margin-top: 0.55rem;
}

.album__artist {
  color: #9c27b0;
  font-size: 1.4rem;
}


/*** MOBILE ***/

@media(max-width: 800px){
  .header__wrapper{
    min-height: 10rem;
  }
  .header__wrapper-searched{
    min-height: 2rem;
  }
  .title__text{
    font-size: 6rem;
  }

  .title__text-small{
    font-size: 1.6rem;
    padding-left: 2.5rem;
  }

  .title__subtitle{
    font-size: 3rem;
    width: 100%;
  }
}