<a class='album-list'>
    <img class="album-list__cover" src="<%- artworkUrl60 %>"/>
	<div class="album-list__data">
		<p class='album-list__name'>
			<%- collectionName %>
		</p>
		<p class='album-list__artist'>
			<%- artistName %>
		</p>
	</div>
</a>
