<a class='album'>
	<img class="album__cover" src="<%- artworkUrl100 %>"/>
	<div class="album__data">
		<p class='album__name'>
			<% 
				collectionName = collectionName.substring(0, 16) + '...';
				%>
			<%- collectionName %>
		</p>
		<p class='album__artist'>
			<%- artistName %>
		</p>
	</div>
</a>
