<div class="player">
    <img class='player__icon' src="https://image.flaticon.com/icons/svg/151/151847.svg"/>
    <img class='player__icon' src="https://image.flaticon.com/icons/svg/151/151860.svg"/>
    <img class='player__icon' src="https://image.flaticon.com/icons/svg/151/151854.svg"/>
    <img class='player__icon-volume' src="https://image.flaticon.com/icons/svg/151/151869.svg"/>
</div>
<div class="logo">
    <p>niceTunes</p>
</div>
<div class="search">
    <input class="search__input" type="text" placeholder="Search"></input>
</div>

